<nav class="navbar is-light" role="navigation" aria-label="navigation">
  <a class="navbar-item" [routerLink]="'1'">HTTP</a>
  <a class="navbar-item" [routerLink]="'2s'">Subscription</a>
  <a class="navbar-item" [routerLink]="'2a'">Async Pipe</a>
  <a class="navbar-item" [routerLink]="'3'">Forms</a>
  <a class="navbar-item" [routerLink]="'4'">Error Handling</a>
  <a class="navbar-item" [routerLink]="'5'">Error Isolation</a>
  <a class="navbar-item" [routerLink]="'6'">Router</a>
</nav>

<main class="container is-fluid">
  <router-outlet></router-outlet>
</main>
